<div class= "container" >
  <div class= "row" >
    <h1> Lista usuarios </h1>
    <div class= "col-md-12" >
      <a [routerLink]= "['/nuevo-usuario']"  class= "btn btn-sm btn-primary"  style= "margin-right:
        5px;width: 30%;float:right;" > AÑADIR USUARIO</a>
      <a [routerLink]= "['/cursos']"  class= "btn btn-sm btn-success"  style= "margin-right:
      5px;width: 30%;float:right;" > VER CURSOS</a>
    </div>
  </div>
  <table class= "table" >
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Ciudad</th>
        <th>Cursos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor= "let usuario of usuarios" >
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.apellidos}}</td>
        <td>{{usuario.ciudad}}</td>
        <!--Añadimos cursos-->
        <td>
          <a [routerLink]= "['/cursos-usuario', usuario._id]" > Ver detalles </a>
        </td>
        <td>
          <a [routerLink]= "['/anadir-curso-usuario', usuario._id]"  class= "btn btn-sm btn-primary"  style= "margin-right: 5px;width: 30%;" >Añadir Curso</a>
          <a [routerLink]= "['/editar-usuario', usuario._id]"  class= "btn btn-success" style= "margin-right: 5px;width: 30%;" > Editar </a>
          <button class= "btn btn-danger"  type= "button" (click)= "eliminarUsuario(usuario._id)"  style= "margin-right: 5px;width:30%;" > Eliminar </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>